extends ./common/layout.pug
block content
  // Breadcrumb Section Begin
  .breacrumb-section
    .container
      .row
        .col-lg-12
          .breadcrumb-text.product-more
            a(href='./home.html')
              i.fa.fa-home
              |  Home
            a(href='./shop.html') Shop
            span Shopping Cart
  // Breadcrumb Section Begin
  // Shopping Cart Section Begin
  section.shopping-cart.spad
    .container
      .row
        .col-lg-12
          #error-message.alert.alert-danger
          .cart-table
            table
              thead
                tr
                  th Image
                  th.p-name Product Name
                  th Color
                  th Size
                  th Price
                  th Quantity
                  th Total
                  th
                    i.ti-close
              tbody
                each item in items
                  tr
                    td.cart-pic.first-row
                      img(src= item.product.images[0], alt='')
                    td.cart-title.first-row
                      h5= item.product.name
                    td.first-row= item.color
                    td.first-row= item.size
                    if(item.product.salePrice)
                      td.p-price.first-row(name= item.product.id + '&&' + item.color + '&&' + item.size)= item.product.salePrice + ' $'
                    else
                      td.p-price.first-row(name= item.product.id + '&&' + item.color + '&&' + item.size)= item.product.price + ' $'
                    td.qua-col.first-row
                      .quantity
                        .pro-qty(name= item.product.id + '&&' + item.color + '&&' + item.size)
                          span(class='dec qtybtn')='-'
                          input(type='text', value= item.quantity)
                          span(class='inc qtybtn')='+'
                    if(item.product.salePrice)      
                      td.total-price.first-row(name= item.product.id + '&&' + item.color + '&&' + item.size)= item.product.salePrice*item.quantity + ' $'
                    else
                      td.total-price.first-row(name= item.product.id + '&&' + item.color + '&&' + item.size)= item.product.price*item.quantity + ' $'
                    td.close-td.first-row 
                      i.ti-close(name= item.product.id + '&&' + item.color + '&&' + item.size)
          .row
            .col-lg-4
              .cart-buttons
                a.primary-btn.continue-shop(href='/shop') Continue shopping
            .col-lg-4.offset-lg-4
              .proceed-checkout
                ul
                  li.cart-total
                    | Total 
                    span#total-cart= totalCart + ' $'
                a.proceed-btn(href='/checkout') PROCEED TO CHECK OUT
  // Shopping Cart Section End
  include ./common/footer
  script.
    $(document).ready(function(){
      $('#error-message').hide();
      //- $('.inc').click(function(){
      //-   var data = {};
      //-   var productInfor = $(this).attr('name');
      //-   var quantitySelector = 'input[name="' + productInfor + '"]'
      //-   var quantity = $(quantitySelector).val();
        //- var productPath = window.location.pathname;
      //- });
      $('.pro-qty').click(function () {
        var quantity = $(this).parent().find('input').val();
        var productInfor = $(this).attr('name');
        var productId = productInfor.slice(0, productInfor.indexOf('&&'));
        var color = productInfor.slice(productInfor.indexOf('&&') + 2, productInfor.lastIndexOf('&&'));
        var size = productInfor.slice(productInfor.lastIndexOf('&&') + 2, productInfor.length);

        var data = {
          productId: productId,
          size: size,
          quantity: parseInt(quantity),
          color: color
        }

        $.ajax({
          url: '/cart/change-cart',
          type: "post",
          contentType: "application/json",
          data: JSON.stringify(data),
          dataType: "json",
          success: function(jsonResult) {
            let totalPriceItem = $('.total-price[name="' + productInfor + '"]');
            let price = $('.p-price[name="' + productInfor + '"]').text();
            totalPriceItem.text(quantity*parseInt(price) + ' $');
            let totalArray = $('.total-price').text().split(' $');
            var totalCart = 0;
            totalArray.forEach(function(item){
              if(parseInt(item)){
                totalCart += parseInt(item);
              }
            })
            $('#total-cart').text(totalCart + ' $');
            setCartIcon();
            $('#error-message').hide();
          },
          error: function (jqXhr, textStatus, errorMessage) { // error callback 
            $('#error-message').text('Error. Please reload page.');
            $('#error-message').show();
          }
        });
      });

      $('.ti-close').click(function(){
        var name = $(this).attr('name');
        var selector = $(this);
        $.ajax({
          url: '/cart/delete-item/' + name,
          type: 'delete',
          success: function(jsonData) {
            data = JSON.parse(jsonData);
            selector.parent().parent().remove();
            $('#total-cart').text(data.totalPrice + ' $');
            $('#number-of-items').text(data.numberOfItems);
            setCartIcon();
            $('#error-message').hide();
          },
          error: function (jqXhr, textStatus, errorMessage) { // error callback 
            $('#error-message').text('Error. Please reload page.');
            $('#error-message').show();
          }
        });
      });

      function setCartIcon() {
        $.ajax({
          url: '/cart/cart-data',
          type: "get",
          contentType: "application/json",
          dataType: "json",
          success: function(data) {
            $('#cart-table').empty();
            var totalPrice = 0;
            var price;
            for(let item of data.items){
              if(item.product.salePrice) {
                totalPrice += item.product.salePrice*item.quantity
                price = item.product.salePrice;
              } else {
                totalPrice += item.product.price*item.quantity
                price = item.product.price;
              }
              $('#cart-table').append(
                '<tr name="' + item.product._id + '&&' + item.size + '">' + 
                  '<td class="si-pic">' + 
                    '<img src="' + item.product.images[0] + '"/>' + 
                  '</td>' + 
                  '<td class="si-text">' + 
                    '<div class="product-selected">' + 
                      '<p>' + price + '$ x ' + item.quantity + '</p>' + 
                      '<h6>' + item.product.name + ' - ' + item.size + '</h6>' +
                    '</div>' + 
                  '</td>' + 
                  '<td class="si-close">' + 
                    '<i class="ti-close"></i>' + 
                  '</td>' +
                '</tr>');
            }
            $('#number-of-items').text(data.items.length);
            $('#cart-total-price').text(totalPrice + ' $');
            $('#outside-cart-total-price').text(totalPrice + ' $');
          },
          error: function (jqXhr, textStatus, errorMessage) { // error callback 
            alert('error');
            alert(textStatus);
          }
        });
      } 
    });
    