extends ./common/layout
block content
  // Breadcrumb Section Begin
  .breacrumb-section
    .container
      .row
        .col-lg-12
          .breadcrumb-text.product-more
            a(href='./index.html')
              i.fa.fa-home
              |  Home
            a(href='./shop.html') Shop
            span Check Out
  // Breadcrumb Section Begin
  // Shopping Cart Section Begin
  section.checkout-section.spad
    .container
      if success
        #checkout-message.alert.alert-success= success
      if error
        #checkout-message.alert.alert-danger= error
      form.checkout-form(action='/checkout', method='post')
        .row.justify-content-lg-center
          if !user
            .col-lg-6
              h4 Biiling Details
              .row
                .col-lg-12
                  label(for='fullname')
                    | Full Name
                    span *
                  input#fullname(type='text', name='fullname')
                .col-lg-12
                  label(for='street')
                    | Address
                    span *
                  input#street.street-first(type='text', name='address')
                .col-lg-12
                  label(for='email')
                    | Email
                    span *
                  input#email(type='text', name='email')
                .col-lg-12
                  label(for='phone')
                    | Phone
                    span *
                  input#phone(type='text', name='phoneNumber')
              .checkout-content
                a.content-btn(href='#') Click Here To Login
            .col-lg-6
              .place-order
                h4 Your Order
                .order-total
                  ul.order-table
                    li
                      | Product 
                      span Total
                    each item in cart.items
                      li.fw-normal= item.product.name + ' - ' + item.color + ' - ' + item.size + ' x ' + item.quantity
                        span= item.product.salePrice*item.quantity + ' $'
                    li.total-price
                      | Total 
                      span= totalPrice + ' $'
                  .order-btn
                    button.site-btn.place-btn(type='submit') Place Order
          else
            .col-lg-8
              .place-order
                h4 Your Order
                .order-total
                  ul.order-table
                    li
                      | Product 
                      span Total
                    each item in cart.items
                      li.fw-normal= item.product.name + ' - ' + item.color + ' - ' + item.size + ' x ' + item.quantity
                        span= item.product.salePrice*item.quantity + ' $'
                    li.total-price
                      | Total 
                      span= totalPrice + ' $'
                  .order-btn
                    button.site-btn.place-btn(type='submit') Place Order

  // Shopping Cart Section End
  include ./common/footer