extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Users
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Users
        .card.mb-4
          .card-body
            | DataTables is a third party plugin that is used to generate the demo table below. For more information
            | about DataTables, please visit the
            a(target='_blank' href='https://datatables.net/') official DataTables documentation
            |               .
        .card.mb-4
          .card-header
            i.fas.fa-table.mr-1
            |               DataTable Example
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th Username
                    th Fullname
                    th Email
                    th Address
                    th Phone
                    th Role
                    th Status
                    th Edit
                    th Remove
                tfoot
                  tr
                    th Username
                    th Fullname
                    th Email
                    th Address
                    th Phone
                    th Role
                    th Status
                    th Edit
                    th Remove
                tbody
                  each user in users
                    tr
                      td= user.username
                      td= user.fullname
                      td= user.email
                      td= user.address
                      td= user.phoneNumber
                      td.text-capitalize= user.role
                      td
                        if user.status
                          h5.text-center.text-success
                            i.fas.fa-check-circle
                        else 
                          h5.text-center.text-danger
                            i.fas.fa-minus-circle
                      td(name= user.id)
                        button.btn.btn-warning
                          i.fas.fa-edit
                      td(name= user.id)
                        button.btn.btn-danger
                          i.fas.fa-trash-alt
    include ../common/footer