extends ../common/layout
block content
  // Blog Details Section Begin
  section.blog-details.spad
    .container
      .row
        .col-lg-12
          .blog-details-inner
            .blog-detail-title
              h2= post.title
              p= post.category.name
                span= " - " + post.createdDate
            .blog-large-pic
              img(src='img/blog/blog-detail.jpg' alt='')
            .blog-detail-desc!= post.content
            .tag-share
              .details-tag
                ul
                  li
                    i.fa.fa-tags
                  li Travel
                  li Beauty
                  li Fashion
              .blog-share
                span Share:
                .social-links
                  a(href='#')
                    i.fa.fa-facebook
                  a(href='#')
                    i.fa.fa-twitter
                  a(href='#')
                    i.fa.fa-google-plus
                  a(href='#')
                    i.fa.fa-instagram
                  a(href='#')
                    i.fa.fa-youtube-play
            .blog-post
              .row
                .col-lg-5.col-md-6
                  if prevPost
                    a.prev-blog(href='#')
                      .pb-pic
                        i.ti-arrow-left
                        img(src= prevPost.avatar, alt='')
                      .pb-text
                        span Previous Post:
                        h5= prevPost.title
                .col-lg-5.offset-lg-2.col-md-6
                  if nextPost
                    a.next-blog(href='#')
                      .nb-pic
                        img(src= nextPost.avatar, alt='')
                        i.ti-arrow-right
                      .nb-text
                        span Next Post:
                        h5= nextPost.title
            .posted-by
              .pb-pic
                img(src='img/blog/post-by.png' alt='')
              .pb-text
                a(href='#')
                  h5 Shane Lynch
                p
                  | Aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  | velit esse cillum bore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  | amodo
            .leave-comment
              h4 Leave A Comment
              form.comment-form(action='#')
                .row
                  .col-lg-6
                    input(type='text' placeholder='Name')
                  .col-lg-6
                    input(type='text' placeholder='Email')
                  .col-lg-12
                    textarea(placeholder='Messages')
                    button.site-btn(type='submit') Send message
  // Blog Details Section End
  include ../common/footer