extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Orders
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Tables
        #error-message.alert.alert-danger
        #success-message.alert.alert-success           .
        .card.mb-4
          .card-header
            i.fas.fa-table.mr-1
            |               DataTable Example
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th Customer
                    th Order Detail
                    th Total Price
                    th Order Date
                    th.text-center Status
                    th Action
                tfoot
                  tr
                    th Customer
                    th Order Detail
                    th Total Price
                    th Order Date
                    th.text-center Status
                    th Action
                tbody
                  each order in orders
                    tr
                      if(order.user)
                        td= order.user.fullname
                      else
                        td= order.customer.fullname
                      td
                        each item in order.items
                          p= item.product.name + ' - ' + item.color + ' - ' + item.size + ' x ' + item.quantity
                      td.font-weight-bold= order.totalPrice
                      td= order.createdDate
                      td
                        if order.status === 'delivering'
                          p.text-center.text-capitalize.text-primary= order.status
                        else if order.status === 'pending'
                          p.text-center.text-capitalize.text-warning= order.status
                        else if order.status === 'success'
                          p.text-center.text-capitalize.text-success= order.status
                        else if order.status === 'canceled'
                          p.text-center.text-capitalize.text-danger= order.status
                      td(name= order.id)
                        button.btn.btn-info.m-1(data-bs-toggle="tooltip", data-bs-placement="top", title="View Info")
                          i.fas.fa-info-circle
                        if (order.status === 'pending')
                          button.btn.btn-warning.m-1(data-bs-toggle="tooltip", data-bs-placement="top", title="Deliver Order")
                            i.fas.fa-shipping-fast
                        if (order.status === 'delivering')
                          button.btn.btn-success.m-1(data-bs-toggle="tooltip", data-bs-placement="top", title="Success")
                            i.fas.fa-clipboard-check
                        if order.status !== 'success' && order.status !== 'canceled'
                          button.btn.btn-danger.m-1(data-bs-toggle="tooltip", data-bs-placement="top", title="Cancel order")
                            i.fas.fa-times
                        button.btn.btn-secondary.delete-order.m-1(data-bs-toggle="tooltip", data-bs-placement="top", title="Delete order")
                            i.fas.fa-trash
    include ../common/footer
    script.
      $('#error-message').hide();
      $('#success-message').hide();
      
      $(document).ready(function(){
        $('.delete-order').click(function(){
          var answer = confirm("Are you sure you want to delete " + $(this).parent().parent().children().first().text() + "'s order?");
          if (answer === false) {
            return;
          }
          var name = $(this).parent().attr('name');
          var selector = $(this);
          $.ajax({
            url: '/admin/order/' + name,
            type: 'delete',
            contentType: "application/json",
            dataType: "json",
            success: function(data) {
              selector.parent().parent().remove();
              $('#success-message').text('Delete ' + (data.user.id ? data.user.fullname : data.customer.fullname) + "'s order successfully!");
              $('#success-message').show();
              $('#error-message').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback 
              $('#error-message').text('Error.');
              $('#error-message').show();
            }
          });
        });
      });