extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Orders
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Tables
        .card.mb-4
          .card-body
            | DataTables is a third party plugin that is used to generate the demo table below. For more information
            | about DataTables, please visit the
            a(target='_blank' href='https://datatables.net/') official DataTables documentation
            |               .
        .card.mb-4
          .card-header
            i.fas.fa-table.mr-1
            |               DataTable Example
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th Customer
                    th Order Detail
                    th Total Price
                    th Order Date
                    th.text-center Status
                    th Action
                tfoot
                  tr
                    th Customer
                    th Order Detail
                    th Total Price
                    th Order Date
                    th.text-center Status
                    th Action
                tbody
                  each order in orders
                    tr
                      if(order.user)
                        td= order.user.fullname
                      else
                        td= order.customer.fullname
                      td
                        each item in order.items
                          p= item.product.name + ' - ' + item.color + ' - ' + item.size + ' x ' + item.quantity
                      td.font-weight-bold= order.totalPrice
                      td= order.createdDate
                      td
                        if order.status === 'delivering'
                          p.text-center.text-capitalize.text-primary= order.status
                        else if order.status === 'pending'
                          p.text-center.text-capitalize.text-warning= order.status
                        else if order.status === 'success'
                          p.text-center.text-capitalize.text-success= order.status
                        else if order.status === 'canceled'
                          p.text-center.text-capitalize.text-danger= order.status
                      td(name= order.id)
                        button.btn.btn-info(data-bs-toggle="tooltip", data-bs-placement="top", title="View Info")
                          i.fas.fa-info-circle
                        if (order.status === 'pending')
                          button.btn.btn-warning.ml-2(data-bs-toggle="tooltip", data-bs-placement="top", title="Deliver Order")
                            i.fas.fa-shipping-fast
                        if (order.status === 'delivering')
                          button.btn.btn-success.ml-2(data-bs-toggle="tooltip", data-bs-placement="top", title="Success")
                            i.fas.fa-clipboard-check
                        if order.status !== 'success' && order.status !== 'canceled'
                          button.btn.btn-danger.ml-2(data-bs-toggle="tooltip", data-bs-placement="top", title="Cancel order")
                            i.fas.fa-times
                        button.btn.btn-secondary.ml-2(data-bs-toggle="tooltip", data-bs-placement="top", title="Delete order")
                            i.fas.fa-trash
    include ../common/footer