extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Contacts
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Tables
        #error-message.alert.alert-danger
        #success-message.alert.alert-success         .
        .card.mb-4
          .card-header
            i.fas.fa-table.mr-1
            |               DataTable Example
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th Full Name
                    th Email
                    th Content
                    th Created Date
                    th.text-center Status
                    th Action
                tfoot
                  tr
                    th Full Name
                    th Email
                    th Content
                    th Created Date
                    th.text-center Status
                    th Action
                tbody
                  each contact in contacts
                    tr
                      if contact.user.id
                        td= contact.user.fullname
                      else 
                        td= contact.customer.name
                      if contact.user.id
                        td= contact.user.email
                      else 
                        td= contact.customer.email
                      td= contact.content
                      td= contact.createdDate
                      td
                        if contact.status
                          p.text-center.text-success responsed
                        else 
                          p.text-center.text-primary received
                      td(name= contact.id)
                        if !contact.status
                          button.btn.btn-success.m-1.response-contact(data-bs-toggle="tooltip", data-bs-placement="top", title="Response")
                            i.fas.fa-check-circle
                        button.btn.btn-secondary.m-1.delete-contact(data-bs-toggle="tooltip", data-bs-placement="top", title="Delete")
                          i.fas.fa-trash-alt
    include ../common/footer
    script.
      $('#error-message').hide();
      $('#success-message').hide();
      
      $(document).ready(function(){
        $('.delete-contact').click(function(){
          var answer = confirm("Are you sure you want to delete " + $(this).parent().parent().children().first().text() + "'s contact?");
          if (answer === false) {
            return;
          }
          var name = $(this).parent().attr('name');
          var selector = $(this);
          $.ajax({
            url: '/admin/contact/' + name,
            type: 'delete',
            contentType: "application/json",
            dataType: "json",
            success: function(data) {
              selector.parent().parent().remove();
              $('#success-message').text('Delete ' + (data.user.id ? data.user.fullname : data.customer.name) + "'s contact successfully!");
              $('#success-message').show();
              $('#error-message').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback 
              $('#error-message').text('Error.');
              $('#error-message').show();
            }
          });
        });
      });
