extends ../common/layout
block content
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 Contacts
        ol.breadcrumb.mb-4
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Tables
        .card.mb-4
          .card-body
            | DataTables is a third party plugin that is used to generate the demo table below. For more information
            | about DataTables, please visit the
            a(target='_blank' href='https://datatables.net/') official DataTables documentation
            |               .
        .card.mb-4
          .card-header
            i.fas.fa-table.mr-1
            |               DataTable Example
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th Full Name
                    th Email
                    th Content
                    th Created Date
                    th.text-center Status
                    th Delete
                tfoot
                  tr
                    th Full Name
                    th Email
                    th Content
                    th Created Date
                    th.text-center Status
                    th Delete
                tbody
                  each contact in contacts
                    tr
                      if contact.user
                        td= contact.user.fullname
                      else 
                        td= contact.customer.name
                      if contact.user
                        td= contact.user.email
                      else 
                        td= contact.customer.email
                      td= contact.content
                      td= contact.createdDate
                      td
                        if contact.status
                          p.text-center.text-success responsed
                        else 
                          p.text-center.text-primary received
                      td(name= contact.id)
                        button.btn.btn-danger
                          i.fas.fa-trash-alt
    include ../common/footer
